__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/
dist/
.git
.gitignore
.env
.env.*
local_settings.py
db.sqlite3*
pip-log.txt
pip-delete-this-directory.txt
htmlcov/
.tox/
.nox/
.coverage*
docs/_build/
.pytest_cache/
target/
.pdm-build/
venv/
.venv/
ENV/
package-lock.json
yarn.lock
Gemfile.lock
.idea/
*.log
*.manifest
*.spec
celerybeat-schedule
celerybeat.pid
*.rdb
*.aof
*.pid
*.sage.py
ipython_config.py
profile_default/
.spyderproject
.spyproject
.ropeproject
.webassets-cache
.streamlit/
marimo/_static/
marimo/_lsp/
__marimo__/
